@charset "utf-8";

* {
    /* border: 1px solid #333; */
}

.now {
    text-decoration: underline;
}

html {
    font-size: 100%;
    /* font-family: 'Noto Sans JP', sans-serif; */
    letter-spacing: 2px;

}

.main-nav li {
    list-style: none;
}



img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #24292e;
}

/* .wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
} */

#time{
    font-size:12px;
    font-family:'Courier New', Courier, monospace;
    color:#cbc9c9;
    text-align: right;
    margin:0;
}

/* ヘッダー */

.site-title {
    font-size: 1.8rem;
}

.main-nav ul {
    display: flex;
    align-items: center;
    /* box-sizing: border-box; */
}

nav li {
    font-size: 15px;
    margin-left: 20px;
}

nav a:hover {
    opacity: 0.6;
}

header .containerr {
    /* max-width: 960px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    margin: 0 auto;
    padding: 0 4%;
    border-bottom: 1px solid #333;
    width: 100%;

}

.site-title{
    color: #6eb0f9;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}


/* メインビジュアル */
.mainvisual {
    /* margin-bottom: 40px; */
}

.mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}

/* 表 */
.table {
    padding: 10px;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-areas:
        "xl1 md1"
        "xl1 md2";
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
    /* text-align: center; */

}

.pd {
    padding: 10px;
    width: fit-content;
}

.headline {
    margin: 30px auto 20px auto;
    /* padding: 10px;
    border-left: 5px solid cyan;
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace; */
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
}

.tb01 th,
.tb01 td {
    padding: 10px;
    border: solid 2px #333;
    text-align: center;
    box-sizing: border-box;

}

.tb01 th {
    background: #1065a6;
    color: #fff;

}

.nowrap {
    white-space: nowrap;
}

.tb01 .coution {
    background-color: #ff0000b9;
}




/* contact */

.contact {
    /* width: 300px; */
    width: 100%;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: center;
    padding: 50px 0 30px 0;
    margin-top: 90px;
    /* margin:auto; */
}

.span {
    /* font-weight: bold; */
    font-size: 20px;
    display: block;
}

.contact .contact2 {
    margin-bottom: 30px;
    font-weight: normal;
}

/* モーダルウィンドウ */

#open,
#close {
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 100px;
}

#mask {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#modal {
    background-color: #fff;
    width: 600px;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
    transition: transform 0.4s;
}

#modal li {
    padding: 5px;
    margin-left: 30px;
}

#modal .title {
    text-align: center;
    font-size: 30px;
}

#modal>p {
    margin: 0 0 20px;
}

#mask.hidden {
    display: none;
}

#modal.hidden {
    transform: translate(0, -1000px);
}

/* img */

.img {
    width: 70%;
    margin: 10px auto 50px;
}

.container2 {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.img img {
    width: 50%;
    padding: 10px;
    border-radius: 10%;
    border: 1px solid;
}

.img h1 {
    text-align: center;
}


/* map */

.map {
    text-align: center;
    margin-top: 50px;
}

/* cocoランドもご利用... */
.border {
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    padding: 10px;
    background: #f2f2f2;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-size: 1em;
}


/* フッター */

#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 20px;
    text-align: center;
}

/* レスポンシブ */


@media screen and (max-width:600px) {

    .pd{
        width:100%;
    }


    .border {
        width: 95%;
    }

    .map {
        width: 100%;
    }

    .main-nav {
        margin-bottom: 5px;
    }

    .img {
        width: 100%;
        padding: 10px;
    }

    #modal {
        width: 100%;
        font-size: 14px;
    }

    #modal .title {
        font-size: 25px;
    }

    .table {
        display: block;
        width: 100%;

    }


    header .containerr {
        flex-direction: column;
        font-weight: bold;
        justify-content: space-around
    }

    nav li {
        font-size: 11px;
        margin-left: 10px;
    }

    .site-title {
        font-size: 25px;
    }

    .tb01 {
        width: 100%;
    }

    table.tb01 th,
    table.tb01 td {
        display: block;
        width: 100%;
        border-bottom: none;
        font-size: 10px;
        font-weight: bold;
    }

    .tb01 tr:last-child {
        border-bottom: solid 1px #ccc;
    }

}

@media screen and (max-width:1024px) {

    .pd {
        margin: auto;
        /* width: 100%; */
    }

    .table {
        display: block;
    }
}

/* @media screen and (min-width:1024px) {
    .table{
        width:100%;
    }
} */